<body>

  <form class="form-horizontal">
    <div class="container">
      <br>
      <br>
      <div align="center" class="form-group">
        
          <label class="control-label col-sm-4" align="left" style="font-family:verdana;"
            for="uname">EmployeeId:</label>
            <div class="col-sm-4">
          <input type="text" pattern=[0-9]* minlength="3" maxlength="5" name="empId" id="empId" [(ngModel)]="empId" 
          class="form-control" #empidval='ngModel'
            placeholder="Enter Employee ID" required>

          <div *ngIf='empidval.errors && empidval.touched' class="alert alert-danger">
            <div [hidden]='!empidval.errors.required'>Please provide employee id </div>
          </div>
        </div>
      </div>
    </div>

      <br>
      <div align="center" class="form-group"> <button type="submit" class="btn btn-success" id="btnSuccess" (click)="getImage()">Submit</button>
      </div>

      <div align="center" class="form-group" *ngIf=true>
        <img [src]="retrievedImage">    
      </div>
     
      <div align="center" class="form-group text-danger">
      <h3>{{message}}</h3>
      </div>
    
  </form>



</body>