<div class="navbar navbar-expand-xs bg-dark" >
    &nbsp;
    <a routerLink="app-search-by-id" id="empdocbtn"><h4><b style="color: white;">Document by EmployeeId</b></h4></a>
  
    <a routerLink="app-search-by-name"><h4><b style="color: white;">Document by EmployeeName</b></h4></a>
    
    <a routerLink="app-set-status"><h4><b style="color: whitesmoke;">Set status</b></h4></a>

    <button (click)="logout()"><h4><b style="background-color: transparent;color: rgb(154, 150, 187);">Logout</b></h4></button>
        </div>
    
    <router-outlet></router-outlet>

